* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:  blue;
    height:80vh;
    
}

#app {
    display: flex;
    justify-content:space-around;
    background-color: red;
    width: 80%;
    height: 100%;

    align-items: center;
    
}

#textArea {
    width: 60%;
    height: 80%;
}

#status {
    background-color: whitesmoke;
    height: 80%;
    width: 30%;

}