body{
    background-color: #a1eafb;
    text-align: center;
    font-family: 'Spartan', sans-serif;
    color:#1f4287;
}
#titulo{
    padding: 40px  0px;
    font-size: small;
    color:#a1eafb;
}
main {
    background-color:#1f4287;
    border-radius: 10px;
    width: auto;
    max-width: 60%;
    height: auto;
    margin: auto;
}


input[type=text]{
    display:block;
    margin: 0 auto;
    padding: 10px 0px;
    border-radius: 10px;
    border: none;
}

button#converter{
margin: 50px 0px;

}

div{
    color:#a1eafb;
}

footer{
    color:#1f4287;
    font-size: smaller;
}