@import url('https://fonts.googleapis.com/css?family=Inter:400,700&display=swap');
*{
    box-sizing: border-box;
}

body {
    font-family: 'Inter',sans-serif;
    margin: 0;
    
}

.hero-bg {
    background: rgb(116, 190, 3) url('../imagens/casas.jpg');
    background-position: 30% 80%;
    background-size: 120em;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

header {
    padding: 1em 0em;
}


.hero-bg a {
    text-decoration: none;
    color:whitesmoke;
    background-color: blueviolet;
    font-weight: bold;
    font-size: 1.2rem;
    padding: .5em 1em;
    border-radius: .5em;
}

section {
    margin: 0 1em;
}

h1 {
    font-size: 2.5em;
    margin: 2em 0 1.2em ;
}

h1 span {
    display: block;
    text-transform: uppercase;
    font-size: medium;
    position: relative;
    z-index: 1;
}

h1 span::before{
    content: "";
    position: absolute;
    width: 5em;
    height: 0.5em;
    background-color:rgb(116, 190, 3);
    bottom: 0em;
    z-index: -1;
    margin-left: -0.125em;
}

.hero-bg p{
    font-weight: bold;
    margin: 0 1em 3em;
}

.form-container{
    background-color:blueviolet;
    margin:2em -1em 0;
    padding:2em;
    box-shadow:10px 10px 10px rgba(0,0,0,0.3);
}

label {
    color: white;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2rem;

}

input[type=text]{
    border: 1px solid gray;
    width: 100%;
    padding:1em;
    border-radius: .5em;

}

.form-container p{
    color:whitesmoke;
    font-size: .9em;
    margin-top: .3em;   
}

input[type=button]{
    border: none;
    background-color: rgb(116, 190, 3);
    color:white;
    font-weight: bold;
    width: 100%;
    padding:1em 0;
    border-radius: 1em;
    cursor: pointer;
}

input[type=button]:hover{
    background-color: rgb(105, 155, 30);   
}

.bottom{
    margin:0;
    text-align: center;
}

.paragrafo{
    margin: 3em 1em;
    font-weight: bold;

}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2:before{
    content: "";
    position: absolute;
    width: 5em;
    height: 0.5em;
    background-color:rgb(116, 190, 3);
    bottom: 0em;
    z-index: -1;
    margin-left: -0.25em;
}

p {
    line-height: 2em;
}

img{
    width: 100%;

}

@media(min-width: 630px){
    section{
        margin: 0 4em;
    }
    .form-container{
        margin:2em -4em 0;
    }
    
    
}   

@media(min-width: 930px){
    .hero-bg {
        text-align: left;
    }
    .hero-bg p{
        margin: 0 0 3em;
    }
    .hero-bg section{
        width: 65%;
    }
    .form-container{
        margin: 2em 0 0;
        padding: 2em;
        border-radius: .5em;
        box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
    }

}