
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {  
    background-color: aliceblue;
    width: 30vw;
    height: 30vw;
    padding: 25px;
    border-radius: 2.5%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{

    font-size: 180%;
    inline-size: 80%;
    word-wrap: break-word;
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;   
    text-align: center;

    color: gray;
    resize: none;
    overflow: hidden;
}

button {
    width: 30%;
    min-width: 100px;
    padding: 0.5rem;
    border-radius: 100rem;
    border: none;
    color: whitesmoke;
    font-weight: bold;
}

*:focus{
    outline: none;
}

body, button {
    background-color: gray;
}
