@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: gainsboro;
}

h1{
    font-family: "Roboto", sans-serif;
}

#main {
    background-color: whitesmoke;
    border-style: solid;
    border-color: crimson;
    border-width: 8px;
    width: 30vw;
    min-width: 300px;
    height: 20vh;
    border-radius: 10px;
    padding: 5px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#timer {
    background-color: orangered;
    color: rgba(0, 0, 0, 0.6);
    height: 80%; 
    width:60%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 50px;
    
    font-family: "Orbitron", sans-serif;
}

#buttons {
    display: flex;
    flex-direction: column;
    width: 22%;
}

button {
    color: whitesmoke;
    background-color:crimson;
    width: 100%;
    border-color: rgba(220, 20, 60, 0.685);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
}